/* Mushroom Identifier Page */


.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* Upload button */
  .custom-file-label {
  position: relative;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #86BAA1;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  color: #fff;
  border-radius: 0.35rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  .custom-file-label::after {
  content: "Upload"
  }
  .custom-file-input:valid+.custom-file-label::after {
  content: "File uploaded!";
  }
  
  .custom-file {
  position: relative;
  display: inline-block;
  }
  .custom-file-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity:0;
  }
  .custom-file-input:focus+.custom-file-label, .custom-file-input.has-focus+.custom-file label {
  background-color: #86BAA1;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .custom-file-label:hover {
    background-color: #72A389; 
    color:black
  }
  
  /* Submit button */
  .btn-custom {
    background-color: #86BAA1; /* Button background color */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    color: #fff; /* Text color */
    border: none; /* Remove default border */
    border-radius: 0.35rem; /* Rounded corners */
    padding: 10px 20px; /* Padding inside the button */
    font-size: 1rem; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  .btn-custom:hover {
    background-color: #72A389; 
    border-color: #72A389;
  }
  .btn-custom:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
  }
  
  
  
  /* Style for the accordion items */
  .accordion-item {
    margin: auto;
    background-color: transparent;
    border: 0px solid #86BAA1; /* Change the border thickness and color */
    margin-bottom: 3rem; /* Add space between accordion items */
  }
  
  .accordion-header {
    background-color: #86BAA1;
    width: 1000px; 
  }
  
  .accordion-button h5 {
    display: flex;
    justify-content: center; 
    align-items: center;
    color: #fff; /* Text color for button */
    background-color: #86BAA1; /* Make the button background transparent */
    width: 100%; /* Full width for better click area */
    padding: 15px; /* Add some padding for aesthetics */
    text-align: center;
    font-size: 1.25rem; 
    color: #fff;
  }
  
  .accordion-body h5{
    padding: 1rem; /* Set consistent padding for body */
  }
  
  .accordion-button h5:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    color:black;
  }
  
  
  body {
    background-image: url(pics/lakebackground.jpeg);
  }
  
  /* Footer stylling */
  footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: aliceblue;
    color: black;
  }
  
  